global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: "raspador do prometheus"
    metrics_path: "/actuator/prometheus"
    scrape_interval: 1s
    static_configs:
      - targets: ["users-app-instance:80", "products-app-instance:80", "shoppingcarts-app-instance:8082"]
